:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --backgroundcolor: cadetblue;
}

body {
  background-image: url("../images/circuitboard.jpg");
  background-color: #cccccc;
  height: 3000px;
  background-size: cover;
  background-repeat: repeat-y round;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5%;
  background-color: var(--backgroundcolor);
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  list-style-type: none;
}

header nav a {
  text-decoration: none;
  color: white;
}
.me img {
  width: 80px;
  height: 100px;
}

main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
  color: white;
  border-left: 5px solid black;
}

.aside-1 {
  color: white;
  font-size: 46px;
}

.workbox {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  font-weight: bold;
  box-align: center;
  align-items: center;
  box-pack: center;
  justify-content: center;
}

.work1,
.work2 {
  border: 10px solid black;
  margin: 2px;
  padding: 0px;
  flex-basis: auto;
  transition: transform 0.5s;
}

.work1 img,
.work2 img {
  width: 100%;
  max-width: fit-content;
}

.work1 {
  flex-basis: 90%;
  max-width: 100%;
  justify-content: center;
}

.work2 {
  flex-basis: 45%;
  box-sizing: border-box;
}

.work1:hover,
.work2:hover {
  transform: scale(1.02);
}

main div a {
  text-decoration: underline;
  color: white;
  font-size: 36px;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
}
